# Database Connection (PostgreSQL / Aiven)
DATABASE_URL="postgres://avnadmin:<PASSWORD>@<HOST>:<PORT>/defaultdb?sslmode=require"

# Session & Security
SESSION_SECRET="your-super-secret-key-at-least-32-characters-long"
DEFAULT_OUTLET_NAME="POS LAUNDRY"
DEFAULT_ADMIN_USER="admin"
DEFAULT_ADMIN_PASS="123456"

# Server Configuration
HOST="0.0.0.0"
PORT="4321"
NODE_ENV="development"
